[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=all/allfiles;
Actions=create_folder_for_file;
X-KDE-Priority=TopLevel

[Desktop Action create_folder_for_file]
Name=Create Folder for File
Icon=folder-new
Exec=sh -c '"$HOME/.local/share/kio/servicemenus/create_folder_for_file/create_folder_for_file.sh" "$@"' _ %F
